@font-face {
    font-family: 'Comfortaa';
    font-display: swap;
    src: url(fonts/new-comfortaa/Comfortaa-Regular.ttf) format("truetype"), url(fonts/new-comfortaa/Comfortaa-Bold.ttf) format("truetype"), url(fonts/new-comfortaa/Comfortaa-Light.ttf) format("truetype");
}
html, body, div, section, p, ul, li, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    background-color: #fff;
}
html, body, section {
    width: 100%;
}

.top-line {
    width: 100%;
    height: 25px;
    background-color: #579D57;
}

#first {
    display: grid;
    grid: 270px / 486px 1fr;
    padding: 30px;
}

.logo img {
    width: 486px;
    height: 270px;
}
.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label h1 {
    font-size: 38px;
    max-width: 1300px;
    color: #133f1e;
    letter-spacing: 0.05em;
    text-align: center;
}
.description {
    display: grid;
    width: 100%;
    height: 700px;
    grid: 700px / 500px 1fr;
    padding-left: 30px;
}
.slider-box {
    width: 500px;
    height: 300px;
    background: #fff;
    margin-top: 130px;
}
.green-box {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 60px 80px;
    background: #579D57;
    height: 600px;
}
.green-box p {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    
}

/* начало правил слайдера 1 (картинки с би-нео)*/

#block-for-slider {
    width: 500px;
    height: 300px;
    margin: 0;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    float: left;
}

.slide-img {
    width: 100%;
    height: 350px;
    min-height: 350px;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #579D57;
    border-radius: 50%;
    top: 78%;
    color: #fff;
    opacity: 0.6;
    transition: opacity .3s ease;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 1;
}

#prev-btn {
    left: 360px;
}

#next-btn {
    right: 20px;
}
#next-btn p {
    margin: 15px 0px 15px 0px;
}
#prev-btn p {
    margin: 15px 3px 15px 0px;
}
#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #579D57;
    border-radius: 50%;
    margin: 3px;
    opacity: 0.9;
    transition: all .3s ease;
}

.slide-nav-btn:hover {
    cursor: pointer;
    background-color: #EAFFE6;
    
}
/* конец правил слайдера 1 (картинки с би-нео)*/
/*БЛОК ПОЧЕМУ БИНЕО*/
.main-points {
    display: block;
    width: 100%;
    height: 850px;
    margin: 0;
    background-color: #70B570;
}
.why-bineo {
    padding-top: 45px;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0;
}
/*КОНЕЦ БЛОКА ПОЧЕМУ БИНЕО*/

/* НАЧАЛО SLIDER 2*/
.galleryContainer{
    max-width: 1000px;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    margin-top: 100px;
}

.galleryContainer .slideShowContainer {
  width:100%;
  height:100%;
  overflow: hidden;
}

.galleryContainer .slideShowContainer .slidie /*.imageHolder*/{
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}
.galleryContainer .slideShowContainer .slidie:first-child {
    opacity: 1;
}
.galleryContainer .slideShowContainer .slidie img{
    max-width: 1536px;
    height: auto;
    width: 80%;
    margin: 0 10%;
}

.nextPrevBtn {
  font-size: 30px;
  text-align: center;
  color: grey;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 10px;
  transition: 0.6s ease;
  z-index: 5;
}

.rightArrow {
    margin-right: 6%;
    margin-top: 11%;
    right: 0;
}
.leftArrow {
    margin-left: 6%;
    margin-top: 11%;
}
.nextPrevBtn:hover {
  color: white;
}

#playPause a{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  position: absolute;
  display: inline-block;
  z-index: 5;
  text-align: center;
  margin: 20px auto;
  width: 100%;
  cursor: pointer;
  color: grey;
  transition: 0.6s ease;
}

#play {
  opacity: 0;
}

a:hover {
  color: white;
}

.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
/* КОНЕЦ SLIDER 2*/
#playPause {
    display: none;
}
/*ЦЕНОВОЙ БЛОК*/
.one-more p {
    color: #133f1e;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 60px;
}

.bineo-price {
    color: #70B570;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em;
}

.same-price {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 80px auto;
    border: 2px solid #579D57;
    border-top: 0px transparent;
    padding: 0 50px 50px;
}

.two-pics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.pic-block img {
    width: 500px;
    height: 360px;
    border-radius: 5px;
}

/*КОНЕЦ ЦЕНОВОГО БЛОКА*/

/*МОНТАЖ И СБОРКА*/
.step-block-label {
    text-align: center;
    color: #70B570;
    font-size: 3rem;
}
.step {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 606px;
    margin: 60px auto;
}
.step p {
    width: 90px;
    font-size: 2rem;
    color: #579D57;
    margin: 0;
}

.pointer {
    display: flex;
    position: relative;
    width: 160px;
    height: 100%;
}

.arrow-block {
    position: absolute;
    width: 60px;
    height: calc(100% - 5px);
    top: 5px;
    left: 100px;
    background-color: #fff;
    text-align: center;
}

.arrow-line {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: #70B570;
}

.arrow-line::before {
    position: absolute;
    content: '';
    top: 0;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: #70B570;
    border-radius: 50%;
}

.arrow-line::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #70B570;
}
.round {
    position: absolute;
    top: 5px;
    left: 115px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #70B570;
}

.step-son {
    width: 1260px;
    height: 606px;
}
.step-son img {
    width: 100%;
    height: inherit;
}
/*КОНЕЦ БЛОКА МОНТАЖ И СБОРКА*/

/*ТАБЛИЦА МОДЕЛЕЙ*/
.model-row-container p {
    text-align: center;
    color: #70B570;
    font-size: 2.5rem;
    margin-top: 100px;
    padding: 0 10%;
}

.bineo-table {
    border: 1px solid #000;
	color: #000;
    border-collapse: collapse;
    width: 970px;
    margin: 100px auto;
}
.bineo-table td {
    border: 1px solid #000;
	padding: 5px 7px;
	color: #336633;
	text-align: center;
	background-color: #EAFFE6;
	vertical-align: middle;
}
tr.bineo-tbl-grn td, td.bineo-tbl-grn {
    background-color: #336633!important;
    color: #fff!important;
}

td.bineo-tbl-grn {
    min-width: 110px;
}

@media only screen and (max-width: 1050px) {
  .bineo-table {
    width: 800px;
  }
}
@media only screen and (max-width: 810px) {
    .bineo-table {
      width: 500px;
    }
    .first-none {
      display:none;
    }
}
@media only screen and (max-width: 510px) {
    .bineo-table {
        width: 319px;
    }
    .second-none {
        display: none;
    }
}
@media only screen and (max-width: 370px) {
    .bineo-table {
        width: 305px;
        font-size: 12px;
    }

    td.bineo-tbl-grn {
        min-width: 80px;
        max-width: 80px;
    }
}
/*КОНЕЦ ТАБЛИЦЫ*/
/*КАЛЬКУЛЯТОР*/
.count {
    text-align: center;
    color: #70B570;
    font-size: 2.5rem;
    margin-top: 100px;
    padding: 0 10%;
}
.calcul-area {
    width: 500px;
    margin: 100px auto;
}
.box-calculator{
    box-shadow: 0 0 5px 5px;
    color: #006616;
    border-radius: 17px;
}
#calculator-label {
    background: #00330c;
    border-radius: 15px 15px 0 0;
    width: 220px;
}
#calculator-label p {
    color: white;
    text-align: center;
}
#block-block-3 {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    border: 0;
    border-radius: 3%;
    display: block;
    background-color: #70B570;

}
#block-block-3 table {
    color: #f0f9f9;
}
#block-block-3 input, textarea, select {
    font-family: inherit;
    font-size: 106%;
    margin: 0;
    line-height: normal;
    padding-top: 5px;
    height: 25px;
}
select {
    text-transform: none;
    line-height: normal;
}

#block-block-3 #model-range {
    height: 35px;
    padding-top: 0;
}

#block-block-3 #chelovek {
    padding: 10px 7px;
    height: 40px;
    vertical-align: middle;
    background-color: #009942;
    border: 3px solid #006616;
    border-top: 0;
    border-bottom: 1px dashed #00330c;
    color: #fff;
}
#block-block-3 #field_price_stanok_value {
	padding: 15px 5px 0 5px;
	display: block; 	 
	height: 40px;
    background-color: #009942;
    border-radius: 0 0 15px 15px;
    border: 3px solid #006616;
    border-top: 0;
    color: #fff;
}
#block-block-3 #field_name_stanok_value {
    padding: 15px 5px 0 5px;
    display: block; 
    height: 55px;
    background-color: #009942;
    border: 3px solid #006616;
    border-top: 0;
    border-bottom: 1px dashed #00330c;
    color: #fff;
}
#block-block-3 #proizvoditelnost {
    padding: 10px 5px 0 5px;
    display: block; 
    height: 55px;
    background-color: #009942;
    border: 3px solid #006616;
    border-top: 0;
    border-bottom: 1px dashed #00330c;
    color: #fff;
}
/*КОНЕЦ КАЛЬКУЛЯТОРА*/

/*ordering*/

.ordering {
    text-align: center;
    color: #70B570;
    font-size: 2.5rem;
    margin: 100px auto;
    padding: 0 10%;
}

/*ordering*/

/*ПОДВАЛ*/
.footer {
    width: 100%;
    height: auto;
    background-color: #336633;
    overflow: visible;
    padding: 0 20px;
}
.footer1 {
    float: left;
    font-size: 1rem;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}
.diler1, .retail1 {
    font-size: 1.5rem;
}
.footer2 {
    float: right;
    font-size: 1rem;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}
.footer3 {
    text-align: center;
    color: #fff;
    padding: 20px 20% 0px;
    font-size: 1.5rem;
}
.footer-logos {
    width: 100%;
    height: 90px;
    background-color: #336633;
}
.footlogo1 {
    float: left;
    padding-left: 50px;
}
.footlogo2 {
    float: right;
    padding-right: 50px;
    padding-top: 10px;
}
.footlogo2 a img {
    width: 165px;
}

.partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partner img {
    border: 1px solid #fff;
    border-radius: 25%;
}
/*КОНЕЦ ПОДВАЛА*/

/*MEDIA*/

@media only screen and (max-width: 1700px) {
    .label h1 {
        font-size: 2.1em;
        max-width: 90%;
    }
    #first {
        padding-right: 0;
    }
}

@media (max-width: 1650px) {
    .step {
        height: calc(72vw * 0.469);
    }
    .step-son {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 1520px) {
    .slider-box {
        margin-top: 100px;
    }
    .green-box {
        height: 520px;
    }
    .green-box p {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .main-points {
        height: 700px;
    }

    .pic-block {
        width: 40%;
        height: auto;
    }

    .pic-block img {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1250px) {
    
    #first {
        grid: 90px 1fr / 100%;
    }
    .logo img {
        width: 162px;
        height: auto;
    }
    .label h1 {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
    .slider-box {
        margin-top: 0;
    }
    .description {
        height: auto;
        grid: 350px 520px / 100%;
        justify-items: center;
        grid-row-gap: 20px;
        padding-left: 0;
    }
    .green-box {
        width: 720px;
    }
    .main-points {
        margin-top: 100px;
    }
    
}

@media (max-width: 1200px) {
    .step-son img {
        height: auto;
    }

    .footer {
        padding: 0;
    }

    .footer1, .footer2 {
        padding: 20px;
    }

}

@media (max-width: 1000px) {
    #first {
        grid: 55.5px 1fr / 100%;
        padding: 20px;
    }

    .logo img {
        width: 100px;
        height: auto;
    }
    .green-box {
        padding: 60px;    
    }

    .galleryContainer {
        margin-top: 30px;
    }

    .main-points {
        height: 650px;
    }

    .why-bineo {
        font-size: 3rem;
        padding: 45px 0;
    }
    .same-price {
        padding: 0 4%;
    }

    .step, .step-son {
        height: calc(72vw * 0.473);
    }

    .pointer {
        width: 130px;
    }

    .arrow-block {
        width: 40px;
        left: 95px;
        background-color: transparent;
    }

    .arrow-line::before {
        width: 20px;
        height: 20px;
        left: 10px;
    }

    .arrow-line::after {
        left: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #70B570;
    }

    .round {
        left: 105px;
        width: 20px;
        height: 20px;
    }

    .footer1, .footer2, .footer3 {
        float: none;
        padding: 40px 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .label h1, .step-block-label, .model-row-container p, .count {
        font-size: 2rem;
    }
    .green-box {
        width: 100%;
    }
    .main-points {
        margin-top: 0px;
    }
    .why-bineo {
        font-size: 2.5rem;
        max-width: 90%;
        margin: 0 auto;
    }
    .bineo-price, .step p {
        font-size: 1.5rem;
    }
    .two-pics {
        margin-bottom: 50px;
    }
    .pointer {
        width: 112px;
    }
    .arrow-block {
        left: 72px;
    }
    .step p {
        width: 67px;
    }
    .round {
        left: 82px;
    }
}

@media (max-width: 710px) {
    .main-points {
        height: 550px;
    }
    .nextPrevBtn {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .description {
        grid: 350px 650px / 100%;
    }
    .green-box {
        height: 650px;
        align-content: space-around;
    }

    .step {
        width: 80%;
        margin: 30px auto;
        height: calc(80vw * 0.4742 + 60px);
        flex-direction: column;
        justify-content: flex-start;
    }
    .step-son {
        width: 100%;
        height: calc(100% - 60px);
        margin: 0 auto;
        float: none;
    }
    .pointer {
        width: 100%;
    }
    .pointer p {
        width: 100%;
        text-align: center;
    }
    .arrow-block, .round {
        display: none;
    }
    .step p {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-logos {
        height: 322px;
    }
    .footlogo1, .footlogo2 {
        float: none;
        text-align: center;
        clear: both;
        padding: 50px;
    }
}

@media (min-width: 1000px) {
    .box-calculator table {
        width: 500px;
    }
    .box-calculator td {
        font-size: 14pt;
    }
    
    #calculator-label {
        height: 80px;
    }
    #field_price_stanok_value, #chelovek, #proizvoditelnost, #field_name_stanok_value {
        height: 70px!important;
    }
    
    .table td {
        padding: 3px 25px;
    }
    .table {
        width: 854px;
    }
}

@media (max-width: 999px) and (min-width: 617px) {
    .table {
        width: 617px;
    }
    .table td {
        padding: 3px 8px;
    }
}
@media (max-width: 616px) and (min-width: 415px) {
    .table {
        width: 415px;
        overflow: hidden;
    }
    .xl65, .xl66, .none {
        display: none;
    }
}
@media (max-width: 414px) {
    .table {
        width: 309px;
    }
    
    .xl65, .xl66, .none, .none2 {
        display: none;
    }
}

@media (max-width: 515px) {
    .label h1 {
        font-size: 20px;
    }
    .why-bineo, .ordering {
        font-size: 2rem;
    }
    #block-for-slider, .slider-box {
        width: 100%;
        max-width: 500px;
    }
    .green-box p {
        font-size: 14px; /*правило для нужно с 520 (+- 10) пикслей*/
    }
    .main-points {
        height: 650px; /*правило для нужно с 520 (+- 10) пикслей*/
    }
    .slide-nav-btn {
        width: 15px;
        height: 15px;
    }
    #nav-btns {
        bottom: 5px;
    }
    #prev-btn, #next-btn {
        width: 25px;
        height: 25px;
    }
    #prev-btn {
        left: 10px;
        top: 50%;
    }
    #next-btn {
        right: 10px;
        top: 50%;
    }
    #prev-btn p, #next-btn p {
        font-size: 0.3rem;
    }
    #prev-btn p, #next-btn p {
        margin: 9px;
    }
}
@media (max-width: 500px) {

    .calcul-area {
        width: 100%;
    }
    .description {
        grid: calc(100vw / 1.428) 650px / 100%;
        grid-row-gap: 0;
    }
    .slide {
        height: calc(100vw / 1.428);
    }
    .slide-img {
        height: 100%;
        min-height: unset;
        max-height: 350px;
    }

    .two-pics {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .pic-block {
        width: 300px;
    }

    .two-pics, .pic-block:first-child {
        margin-bottom: 40px;
    }

    .one-more p {
        padding: 0 10px;
    }

}

@media (max-width: 400px) {
    .green-box {
        padding: 40px;
    }
    .same-price {
        width: 100%;
        margin-top: 60px;
    }

    .model-row-container p.model-label, .count {
        margin-top: 80px;
    }

    .ordering {
        margin: 80px auto;
    }

    .bineo-table, .calcul-area {
        margin: 60px auto;
    }
    
    .ordering, .model-row-container p.model-label, .step-block-label, .count {
        font-size: 1.8rem
    }

    .partners {
        flex-wrap: wrap;
    }
    .partners p {
        padding: 0 10px;
    }
    .partner img {
        max-width: 110px;
        min-height: 101px;
    }
}

@media (max-width: 350px) {
    .leftArrow {
        margin-top: 8%;
        margin-left: 0;
    }
    .rightArrow {
        margin-right: 0;
        margin-top: 8%;
    }
}
